main {
    padding: 32px;
}

main > div {
    width: 40%;
    height: auto;
}

main > div > ul, ol {
    padding-left: 34px;
    width: 85%;
    display: block;
    margin-inline: auto;
}

#nome-receita {
    width: 100%;
    margin: 0;
    padding: 0;
}

#nome-autor {
    width: 100%;
    text-indent: 24px;
    margin: 0;
    padding: 0;
}
#foto-receita {
    width: 100%;
    margin: 42px 0;
}
#foto-receita > img {
    width: 60%;
    display: block;
    margin-inline: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 16px rgb(207, 162, 0);
}

#foto-autor {
    text-align: center;
    font-weight: 600;
    margin-top: 22px;
}

.titulo-lista {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tempo-de-preparo {
    margin-left: 32px;
}

.detalhes-lista > li {
    line-height: 34px;
    font-size: 20px;
    word-spacing: 4px;
}

.justificado {
    text-align: justify;
}

.separador-itens > li, ol {
    margin-bottom: 16px;
}