body {
    background-color: #E7B501;
    margin: 0;
}

header > img {
    width: 100%;
    height: 250px;
}
header {
    display: block;
    width: 100%;
}

nav > ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: 0;
}

nav > ul > li {
    list-style-type: none;
    font-size: 22px;
}

nav > ul > li > a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

nav > ul > li > a:hover{
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

#item-2 {
    padding-inline: 150px;
    border-inline: 2px solid;
}

main {
    background-color: #FBD503;
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 26px 0; /* Primeiro valor é TOP BOTTOM, segundo é LEFT RIGHT */
    justify-content: space-evenly;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* X, Y, tamanho_do_borrado */
    border-radius: 8px; /* Arredondar os cantos da imagem */
}


main > div {
    background-color: #fff;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 8px;
    height: 33vh;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

main > div:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

main > div > h4 {
    text-align: center;
}

main > div > img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 80%;
}

main > div > img:hover {
    width: 105%;
    height: 85%;
    margin-left: -10px;
}
/* Fazer um footer bonitinho para atividade de PW */
footer {
    display: block;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    flex-direction: column;
}


footer > div > p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    text-align: center;
}

footer > div > img {
    width: 64px;
    height: 64px;
}

#footer-banner {
    width: 25%;
    height: 350px;
    margin-inline: 50%;
}

.teste {
    background-color: white;
    padding: 50px;
}

#facebook {
    
}

footer > div {
    display: block;
    background-color: #e0be02;
    width: auto;
}